In [1]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"aditya2197","key":"8c8a6725839db9f3a92411bce13547ef"}'}

In [3]:
!pip install -q kaggle

In [4]:
!mkdir -p ~/.kaggle

In [7]:
!cp kaggle.json ~/.kaggle/

In [8]:
!ls ~/.kaggle

kaggle.json

In [9]:
!chmod 600 /root/.kaggle/kaggle.json

In [10]:
!kaggle competitions download -c home-credit-default-risk -p /content

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
Downloading HomeCredit_columns_description.csv to /content
  0% 0.00/36.5k [00:00<?, ?B/s]
100% 36.5k/36.5k [00:00<00:00, 56.7MB/s]
Downloading bureau.csv.zip to /content
 90% 33.0M/36.8M [00:00<00:00, 31.1MB/s]
100% 36.8M/36.8M [00:00<00:00, 62.6MB/s]
Downloading credit_card_balance.csv.zip to /content
 97% 94.0M/96.7M [00:01<00:00, 52.2MB/s]
100% 96.7M/96.7M [00:01<00:00, 73.8MB/s]
Downloading bureau_balance.csv.zip to /content
 81% 46.0M/56.8M [00:00<00:00, 48.2MB/s]
100% 56.8M/56.8M [00:00<00:00, 89.5MB/s]
Downloading installments_payments.csv.zip to /content
 99% 267M/271M [00:02<00:00, 98.2MB/s]
100% 271M/271M [00:02<00:00, 95.4MB/s]
Downloading application_test.csv.zip to /content
 86% 5.00M/5.81M [00:00<00:00, 19.0MB/s]
100% 5.81M/5.81M [00:00<00:00, 19.4MB/s]
Downloading POS_CASH_balance.csv.zip to /content
 99% 108M/109M [00:01<00:00, 64.3MB/s]
100% 109M/109M [00:01<00:00, 77.5MB/s]
Downloading application_train.csv.zip to /content
 80% 29.0M/36.1M [00:00<00:00, 25.5MB/s]
100% 36.1M/36.1M [00:00<00:00, 66.9MB/s]
Downloading sample_submission.csv to /content
  0% 0.00/524k [00:00<?, ?B/s]
100% 524k/524k [00:00<00:00, 172MB/s]
Downloading previous_application.csv.zip to /content
 96% 73.0M/76.3M [00:01<00:00, 32.2MB/s]
100% 76.3M/76.3M [00:01<00:00, 54.5MB/s]

In [11]:
!unzip \*.zip

Archive:  previous_application.csv.zip
  inflating: previous_application.csv

Archive:  application_train.csv.zip
  inflating: application_train.csv

Archive:  credit_card_balance.csv.zip
  inflating: credit_card_balance.csv

Archive:  application_test.csv.zip
  inflating: application_test.csv

Archive:  bureau.csv.zip
  inflating: bureau.csv

Archive:  installments_payments.csv.zip
  inflating: installments_payments.csv

Archive:  bureau_balance.csv.zip
  inflating: bureau_balance.csv

Archive:  POS_CASH_balance.csv.zip
  inflating: POS_CASH_balance.csv

8 archives were successfully processed.

In [12]:
import pandas as pd

prev_app = pd.read_csv('previous_application.csv')
prev_app.head()

   SK_ID_PREV  SK_ID_CURR  ... DAYS_TERMINATION  NFLAG_INSURED_ON_APPROVAL
0     2030495      271877  ...            -37.0                        0.0
1     2802425      108129  ...         365243.0                        1.0
2     2523466      122040  ...         365243.0                        1.0
3     2819243      176158  ...           -177.0                        1.0
4     1784265      202054  ...              NaN                        NaN

[5 rows x 37 columns]

In [81]:
app_train = pd.read_csv('application_train.csv')

In [56]:
app_train.shape

(307511, 122)

In [57]:
import numpy as np
type(app_train)

pandas.core.frame.DataFrame

In [58]:
app_train.head(50)

    SK_ID_CURR  TARGET  ... AMT_REQ_CREDIT_BUREAU_QRT AMT_REQ_CREDIT_BUREAU_YEAR
0       100002       1  ...                       0.0                        1.0
1       100003       0  ...                       0.0                        0.0
2       100004       0  ...                       0.0                        0.0
3       100006       0  ...                       NaN                        NaN
4       100007       0  ...                       0.0                        0.0
5       100008       0  ...                       1.0                        1.0
6       100009       0  ...                       1.0                        2.0
7       100010       0  ...                       0.0                        0.0
8       100011       0  ...                       0.0                        1.0
9       100012       0  ...                       NaN                        NaN
10      100014       0  ...                       0.0                        0.0
11      100015       0  ...                       0.0                        2.0
12      100016       0  ...                       0.0                        0.0
13      100017       0  ...                       0.0                        1.0
14      100018       0  ...                       NaN                        NaN
15      100019       0  ...                       0.0                        1.0
16      100020       0  ...                       1.0                        0.0
17      100021       0  ...                       NaN                        NaN
18      100022       0  ...                       0.0                        0.0
19      100023       0  ...                       0.0                        2.0
20      100024       0  ...                       NaN                        NaN
21      100025       0  ...                       1.0                        4.0
22      100026       0  ...                       0.0                        5.0
23      100027       0  ...                       0.0                        3.0
24      100029       0  ...                       0.0                        0.0
25      100030       0  ...                       0.0                        0.0
26      100031       1  ...                       2.0                        2.0
27      100032       0  ...                       0.0                        0.0
28      100033       0  ...                       0.0                        1.0
29      100034       0  ...                       NaN                        NaN
30      100035       0  ...                       0.0                        5.0
31      100036       0  ...                       2.0                        5.0
32      100037       0  ...                       0.0                        2.0
33      100039       0  ...                       1.0                        1.0
34      100040       0  ...                       NaN                        NaN
35      100041       0  ...                       0.0                        0.0
36      100043       0  ...                       1.0                        1.0
37      100044       0  ...                       0.0                        0.0
38      100045       0  ...                       0.0                        2.0
39      100046       0  ...                       0.0                        1.0
40      100047       1  ...                       0.0                        4.0
41      100048       0  ...                       0.0                        5.0
42      100049       1  ...                       0.0                        2.0
43      100050       0  ...                       0.0                        3.0
44      100051       0  ...                       NaN                        NaN
45      100052       0  ...                       NaN                        NaN
46      100053       0  ...                       2.0                        4.0
47      100054       0  ...                       0.0                        2.0
48      100055       0  ...                       0.0                        0.0
49      100056       0  ...                       NaN                        NaN

[50 rows x 122 columns]

In [59]:
def find_missing(data):
    count = data.isnull().sum()
    total = data.shape[0]
    ratio = count/total
    
    return pd.DataFrame(data={'Count':count, 'Ratio':ratio}, index=data.columns.values)
find_missing(app_train)

                            Count     Ratio
SK_ID_CURR                      0  0.000000
TARGET                          0  0.000000
NAME_CONTRACT_TYPE              0  0.000000
CODE_GENDER                     0  0.000000
FLAG_OWN_CAR                    0  0.000000
...                           ...       ...
AMT_REQ_CREDIT_BUREAU_DAY   41519  0.135016
AMT_REQ_CREDIT_BUREAU_WEEK  41519  0.135016
AMT_REQ_CREDIT_BUREAU_MON   41519  0.135016
AMT_REQ_CREDIT_BUREAU_QRT   41519  0.135016
AMT_REQ_CREDIT_BUREAU_YEAR  41519  0.135016

[122 rows x 2 columns]

In [82]:
categorical = app_train.select_dtypes(include='object').columns
categorical

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
       'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
      dtype='object')

In [83]:
numeric = app_train.select_dtypes(include=['int64', 'float']).columns
numeric

Index(['SK_ID_CURR', 'TARGET', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=106)

In [89]:
for col in categorical:
  app_train[col].fillna(app_train[col].mode()[0], inplace=True)

In [90]:
for col in numeric:
  app_train[col].fillna(app_train[col].mean(), inplace = True)

In [92]:
features = app_train.drop(['SK_ID_CURR', 'TARGET'], axis = 1)
target = app_train.TARGET

In [93]:
features.shape

(307511, 120)

In [94]:
target.shape

(307511,)

In [95]:
from sklearn.preprocessing import LabelEncoder

label=LabelEncoder()
for i in categorical:
    features[i]=label.fit_transform(features[i])

In [99]:
features.head(30)

    NAME_CONTRACT_TYPE  ...  AMT_REQ_CREDIT_BUREAU_YEAR
0                    0  ...                    1.000000
1                    0  ...                    0.000000
2                    1  ...                    0.000000
3                    0  ...                    1.899974
4                    0  ...                    0.000000
5                    0  ...                    1.000000
6                    0  ...                    2.000000
7                    0  ...                    0.000000
8                    0  ...                    1.000000
9                    1  ...                    1.899974
10                   0  ...                    0.000000
11                   0  ...                    2.000000
12                   0  ...                    0.000000
13                   0  ...                    1.000000
14                   0  ...                    1.899974
15                   0  ...                    1.000000
16                   0  ...                    0.000000
17                   1  ...                    1.899974
18                   1  ...                    0.000000
19                   0  ...                    2.000000
20                   1  ...                    1.899974
21                   0  ...                    4.000000
22                   0  ...                    5.000000
23                   0  ...                    3.000000
24                   0  ...                    0.000000
25                   0  ...                    0.000000
26                   0  ...                    2.000000
27                   0  ...                    0.000000
28                   0  ...                    1.000000
29                   1  ...                    1.899974

[30 rows x 120 columns]

In [100]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(features, target, test_size=0.2)

In [102]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

model = LogisticRegression(max_iter=1000)
model.fit(X_train,y_train)
predictions = model.predict(X_test)

print(accuracy_score(y_test, predictions))
print(classification_report(predictions,y_test))

0.9179227029575793
              precision    recall  f1-score   support

           0       1.00      0.92      0.96     61503
           1       0.00      0.00      0.00         0

    accuracy                           0.92     61503
   macro avg       0.50      0.46      0.48     61503
weighted avg       1.00      0.92      0.96     61503

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [103]:
from sklearn.ensemble import RandomForestClassifier

model_rf = RandomForestClassifier().fit(X_train,y_train)
predictions=model_rf.predict(X_test)

print(accuracy_score(predictions, y_test))
print(classification_report(predictions,y_test))

0.9180365185438109
              precision    recall  f1-score   support

           0       1.00      0.92      0.96     61478
           1       0.00      0.64      0.01        25

    accuracy                           0.92     61503
   macro avg       0.50      0.78      0.48     61503
weighted avg       1.00      0.92      0.96     61503

In [105]:
from xgboost import XGBClassifier

model_xgb = XGBClassifier(objective='binary:logistic')
model_xgb.fit(X_train,y_train)
predictions=model_xgb.predict(X_test)

print(accuracy_score(predictions, y_test))
print(classification_report(predictions,y_test))

0.9180852966521958
              precision    recall  f1-score   support

           0       1.00      0.92      0.96     61441
           1       0.01      0.58      0.01        62

    accuracy                           0.92     61503
   macro avg       0.50      0.75      0.49     61503
weighted avg       1.00      0.92      0.96     61503